/* Hero Section Styles */
.hero-section {
  position: relative;
  width: 100%;
  min-height: 60vh; /* Full screen height */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}




.content-container {
  position: relative;
  z-index: 1; /* Keeps content above the video */
  padding: 2rem;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 2rem;
}

.cta-button {
  padding: 1rem 2rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cta-button:hover {
  background-color: #6a11cb;
  transform: scale(1.1);
}

.hero-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
  flex-wrap: wrap;
  z-index: 1;
}

.hero-stats .stat {
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  margin: 1rem;
}

.hero-stats h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.hero-stats p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}
